<h1><%= @box.name %></h1>
<strong>Room:</strong> <%= @box.room %><br>
<strong>QR Code:</strong><%= image_tag box_path(@box, format: :svg) %><br>
<strong>Contents:</strong><br>
<pre><%= @box.contents %></pre>
<hr>
<%= link_to "Edit box", edit_box_path(@box)%>&nbsp;|&nbsp;<%= link_to "Back to boxes", boxes_path %>
